<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>


	<title>Rest Homepage</title>
	
</head>
<body>

<div>
	<h1>Rest Homepage</h1>
</div>

<div>
<h2>Hae kysymyslista:</h2>
<h3>/kysymykset</h3>
</div>

esimerkki:
<div>
<br>
[ 
	{
     	 "id": 1,
        "kysymys": "Minkä vuoden opiskelija olet?"
    },
    {
        "id": 2,
        "kysymys": "Kuinka tyytyväinen olet kokonaisuutena Moodleen?"
    },
    {
        "id": 3,
        "kysymys": "Kuinka helppokäyttöinen Moodle mielestäsi on?"
    },
    {
        "id": 4,
        "kysymys": "Kuinka hyvin Moodle pitää sinut ajan tasalla tärkeistä tapahtumista?"
    },
    {
        "id": 5,
        "kysymys": "Miten kehittäisit Moodlea?"
        
    }
    
 ]
 <br>
 </div>
 <h2>Hae yksittäinen kysymys:</h2>
 
 <h3>/kysymykset/{id}</h3>
  <h3>esim. /kysymykset/1</h3>
  

esimerkki:

<p>
[
	{
     	 "id": 1,
        "kysymys": "Minkä vuoden opiskelija olet?"
    }

]
</p>

<div>
	<h2>Lisää vastaus tietylle kysymykselle:</h2>
	
	<h3>/lisaaVastaus/{kysymysId}</h3>
	
	<p>Esimerkki: <br>
		{ <br>
        "vastaus": "ok" <br>
    	}
	</p>

</div>
<div>
	<h2>Lisää tietylle kysymykselle vastausvaihtoehto:</h2>
 
 	<h3>/lisaaVastausvaihtoehto/{kysymysId}</h3>

</div>
<div>
	<h2>Näyttää tietyn avoimenkysymyksen vastaukset:</h2>
 
 	<h3>/kysymyksenVastaukset/{kysymysId}</h3>

</div>
<div>
	<h2>Näyttää tietyn monivalintakysymyksen vastaukset:</h2>
 
 	<h3>/kysymyksenVastausvaihtoehdot/{kysymysId}</h3>

</div>
</body>
</html>