<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>


	<title>Rest Homepage</title>
	
</head>
<body>

<div>
	<h1>Rest Homepage</h1>
</div>

<div>
<h2>Hae kysymyslista:</h2>
<h3>/kysymykset</h3>
</div>

esimerkki:
<div>


	{
     	 "id": 1,
        "kysymys": "Minkä vuoden opiskelija olet?"
    },
    {
        "id": 2,
        "kysymys": "Kuinka tyytyväinen olet kokonaisuutena Moodleen?"
    },
    {
        "id": 3,
        "kysymys": "Kuinka helppokäyttöinen Moodle mielestäsi on?"
    },
    {
        "id": 4,
        "kysymys": "Kuinka hyvin Moodle pitää sinut ajan tasalla tärkeistä tapahtumista?"
    },
    {
        "id": 5,
        "kysymys": "Miten kehittäisit Moodlea?"
        
    }
</div>
</body>
</html>