<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

Rest Homepage

Hae kysymyslista

/kysymykset

esimerkki:

	{
     	 "id": 1,
        "kysymys": "Minkä vuoden opiskelija olet?"
    },
    {
        "id": 2,
        "kysymys": "Kuinka tyytyväinen olet kokonaisuutena Moodleen?"
    },
    {
        "id": 3,
        "kysymys": "Kuinka helppokäyttöinen Moodle mielestäsi on?"
    },
    {
        "id": 4,
        "kysymys": "Kuinka hyvin Moodle pitää sinut ajan tasalla tärkeistä tapahtumista?"
    },
    {
        "id": 5,
        "kysymys": "Miten kehittäisit Moodlea?"
    }

</body>
</html>