<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
	<h1>Lisää uusi kysymys</h1>
	<div>
		<form th:object="${kysymys}" th:action="@{savekysymys}" action="#" method="post">
		  	<div class="form-group">
		  		<label for="kysymys">Kysymys:</label>
				<input type="text" class="form-control" id="kysymys" th:field="*{kysymys}"/>
			</div>
			
		</form>
	</div>
	
	
		<div>
			<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
			<input type="submit" name="action" class="btn btn-default" value="Cancel"></input>
		</div>


</body>
</html>